@page "/dashboard"
@using TucoMAUI_APP.Models

<h1>Hello, world!</h1>

Welcome to your new app.

<img src="@Setting.UserBasicDetail.UserAvatar" height="50" width="50" class="rounded-circle" />

@Setting.UserBasicDetail.UserName

