modules = ["dotnet-7.0", "nodejs-20", "web"]
run = "dotnet run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "dotnet run"]

[workflows]
runButton = "API"

[[workflows.workflow]]
name = "API"
author = 43949241
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd API && dotnet run"

[[workflows.workflow]]
name = "Web Application"
author = 43949241
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd GestionLlantera.Web && dotnet run --urls=http://0.0.0.0:5000"
