modules = ["dotnet-7.0", "nodejs-20", "web", "postgresql-16"]
run = "dotnet run"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "dotnet run"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "API"
author = 43949241
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd API && dotnet run"

[[workflows.workflow]]
name = "Web Application"
author = 43949241
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd GestionLlantera.Web && dotnet run --urls=http://0.0.0.0:5000"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TucoAPI"

[[workflows.workflow]]
name = "TucoAPI"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd API && dotnet run --urls=http://0.0.0.0:8000"
waitForPort = 8000

[agent]
expertMode = true
