@page "/usuarios"
@using System.Text.Json
@inject UsuarioService UsuariosService

<h3>Lista de Usuarios</h3>

@if (usuarios == null)
{
    <p>Cargando usuarios...</p>
}
else if (usuarios.Count == 0)
{
    <p>No hay usuarios registrados.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in usuarios)
            {
                <tr>
                    <td>@usuario.NombreUsuario</td>
                    <td>@usuario.Email</td>
                    <td>@(usuario.Activo ? "Activo" : "Inactivo")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<UsuarioDTO> usuarios;


    protected override async Task OnInitializedAsync()
    {
      

        try
        {
            usuarios = await UsuariosService.GetUsuariosAsync();
         
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al obtener usuarios: {ex.Message}");
            usuarios = new List<UsuarioDTO>();
        }
    }

}
