@using GestionLlantera.Web.ViewComponents
@model UserInfoViewModel

<div class="user-info">
    <div class="user-name">@Model.UserName</div>
    <div class="user-role">@(Model.Roles.FirstOrDefault() ?? "Usuario")</div>
</div>