@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<button @onclick="TestNavigation">Test navigation</button>

@code{
    private async Task TestNavigation()
{
    await Shell.Current.GoToAsync($"/cambiar-contrasena/12345");
}
}